
\.metadata/

GameEngineProgramming/\.settings/

RemoteSystemsTempFiles/\.project

RemoteSystemsTempFiles/

GameEngineProgramming/\.cproject

GameEngineProgramming/\.project

kecornett42_hw1/

*.zip

game_engine/Ogre\.log

*.log

3D-Objects/

*.o

game_engine/src/managers/recup_dir\.1/

game_engine/Game

OISDocumentation/

*.html

*.komodoproject

game_engine/assets/logs/

*.gz

Videos

My_Paths\.txt

game_engine/assets/cegui/

*.gch

game_engine/tests/pair_exe

game_engine/tests/tree_exe
