
\.metadata/

GameEngineProgramming/\.settings/

RemoteSystemsTempFiles/\.project

RemoteSystemsTempFiles/

GameEngineProgramming/\.cproject

GameEngineProgramming/\.project

kecornett42_hw1/

*.zip

game_engine/Ogre\.log

*.log

3D-Objects/

game_engine/src/parsers/Parser\.cpp

game_engine/include/parsers/Parser\.h

*.o

game_engine/src/managers/recup_dir\.1/

game_engine/Game

OISDocumentation/

*.html

*.komodoproject

game_engine/assets/logs/
