
\.metadata/

GameEngineProgramming/\.settings/

RemoteSystemsTempFiles/\.project

RemoteSystemsTempFiles/

GameEngineProgramming/\.cproject

GameEngineProgramming/\.project

kecornett42_hw1/

*.zip

game_engine/Ogre\.log

*.log
